@-webkit-keyframes dropDown {
  from {
    opacity: 0;
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes dropDown {
  from {
    opacity: 0;
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.dropDown {
  transform-origin: right top;
  animation: dropDown .2s ease-in-out forwards;
}