.header{
	width: 100%;
	height: 64px;
	box-shadow: 0 2px 5px rgba(#999, .1);
	transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
	background-color: #fff;
	.logo{
		float: left;
		margin-top: 25px;
		margin-left: 45px;
		img{
			width: 140px;
			height: 20px;
		}
	}
	.collapse{
		float: left;
		position: relative;
		margin-left: 30px;
		height: 100%;
		.slider{
			position: absolute;
			display: inline-block;
			left: 0;
			bottom: 0;
			width: 78px;
			height: 4px;
			transition: left .3s ease;
			-webkit-transition: left .3s ease;
			background-color: $theme-color;
		}
	}
	.collapse-btn{
		i{
			display: none;
		}
	}
	.menu{
		@include clearfix;
		height: 100%;
		a{
			float: left;
			display: inline-block;
			padding: 0 25px;
			height: 100%;
			line-height: 74px;
			font-size: 16px;
			&.active{
				color: $theme-color;
			}
		}
	}
	.user{
		position: relative;
		float: right;
		margin-right: 20px;
		padding: 17px 0;
		&:hover{
			.cover:after{
				@include delta('up', 10px, 5px, $theme-color);
			}
		}
		.cover{
			position: relative;
			display: block;
			padding-right: 20px;
			&:after{
				@include delta('down', 10px, 5px, $gray);
				position: absolute;
				right: 0;
				top: 14px;
				content: '';
			}
		}
		img{
			border-radius: 50%;
			width: 30px;
			height: 30px;
		}	
		.drop-down{
			@extend .dropDown;
			display: none;
			position: absolute;
			right: 0;
			top: 67px;
			z-index: 10;
			border: $border-color solid 1px;
			padding: 7px 0;
			border-radius: 4px;
			box-shadow: 0 0 10px rgba(#999, .1);
			opacity: 0;
			background-color: #fff;
			a{
				display: block;
				padding: 7px 20px;
				white-space: nowrap;
			}
		}
	}
}















