[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}


.icon-toggle{
	width: 14px;
	height: 14px;
	background-image: url("../images/icon-toggle.png");
}

.icon-key{
    background-image: url("../images/icon-key.png");   
}

.icon-code{
    background-image: url("../images/icon-code.png");   
}

.icon-wordbook{
    background-image: url("../images/icon-wordbook.png");   
}

.icon-prot{
    background-image: url("../images/icon-prot.png");   
}

.icon-file{
    background-image: url("../images/icon-file.png");   
}

.icon-debug{
    background-image: url("../images/icon-debug.png");   
}