@charset "utf-8";

/* json format */
.CodeContainer {
    margin: 0;
}

.PropertyName {
    color: #fe8500;
}

.ArrayBrace, .ObjectBrace, .Comma, .collapsible {
    color: #999;
}

.Number {
    color: #3d9547;
}

.String {
    color: #fe8500;
}

.Boolean {
    color: #9013FE;
}

.Function {
    color: #AA6633;
    text-decoration: italic;
}

.Null {
    color: #9013FE;
}

.Expanded {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    padding-left: 15px;
    height: 15px;
    vertical-align: -2px;
    cursor: pointer;
    
    &:hover {
        &:after {
            border-color: #fe8500;
            color: #fe8500;
        }
    }
    
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        border: #e5e5e5 solid 1px;
        width: 13px;
        height: 13px;
        line-height: 13px;
        text-align: center;
        content: '-';
        color: #666;
        background-color: #fff;
    }
}

.Collapsed {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    padding-left: 15px;
    height: 15px;
    vertical-align: -2px;
    cursor: pointer;
    
    &:hover {
        color: #fe8500;
        
        &:after {
            border-color: #fe8500;
            color: #fe8500;
        }
    }
    
    &:after {
        position: absolute;
        left: 0;
        top: 0;
        border: #e5e5e5 solid 1px;
        width: 13px;
        height: 13px;
        line-height: 15px;
        text-align: center;
        content: '+';
        color: #666;
        background-color: #fff;
    }
}


