// Theme Color
$theme-color: #FE8500 !default;

// Font Colors
$blue: #3B87FD !default;
$green: #52C41A !default;
$red: #fc4d42 !default;
$orange: #FE8500 !default;
$dark-gray: #222 !default;
$gray: #666 !default;
$light-gray: #aaa !default;

// Line Colors
$bar-color: #ccc !default;
$border-color: #e5e5e5 !default;

// Background Colors
$bg: #F5F6FA !default;
$content_bg: #f8f8f8 !default;

// Hover
$red-hover: #cc3a37 !default;

// Font Size
$base-size: 14px !default;
$large-size: 18px !default;
$larger-size: 22px !default;
$small-size: 12px !default;
