html
{
    font-family              : sans-serif;
    -ms-text-size-adjust     : 100%;
    -webkit-text-size-adjust : 100%
}

body
{
    margin : 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
{
    display : block
}

audio, canvas, progress, video
{
    display        : inline-block;
    vertical-align : baseline
}

audio:not([controls])
{
    display : none;
    height  : 0
}

[hidden], template
{
    display : none
}

a
{
    background-color : transparent
}

a:active, a:hover
{
    outline : 0
}

abbr[title]
{
    border-bottom : 1px dotted
}

b, strong
{
    font-weight : bold
}

dfn
{
    font-style : italic
}

h1
{
    font-size : 2em;
    margin    : 0.67em 0
}

mark
{
    background : #ff0;
    color      : #000
}

small
{
    font-size : 80%
}

sub, sup
{
    font-size      : 75%;
    line-height    : 0;
    position       : relative;
    vertical-align : baseline
}

sup
{
    top : -0.5em
}

sub
{
    bottom : -0.25em
}

img
{
    border : 0
}

svg:not(:root)
{
    overflow : hidden
}

figure
{
    margin : 1em 40px
}

hr
{
    box-sizing : content-box;
    height     : 0
}

pre
{
    overflow : auto
}

code, kbd, pre, samp
{
    font-family : monospace, monospace;
    font-size   : 1em
}

button, input, optgroup, select, textarea
{
    color  : inherit;
    font   : inherit;
    margin : 0
}

button
{
    overflow : visible
}

button, select
{
    text-transform : none
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    -webkit-appearance : button;
    cursor             : pointer
}

button[disabled], html input[disabled]
{
    cursor : default
}

button::-moz-focus-inner, input::-moz-focus-inner
{
    border  : 0;
    padding : 0
}

input
{
    line-height : normal
}

input[type="checkbox"], input[type="radio"]
{
    box-sizing : border-box;
    padding    : 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
{
    height : auto
}

input[type="search"]
{
    -webkit-appearance : textfield;
    box-sizing         : content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance : none
}

fieldset
{
    border  : 1px solid #c0c0c0;
    margin  : 0 2px;
    padding : 0.35em 0.625em 0.75em
}

legend
{
    border  : 0;
    padding : 0
}

textarea
{
    overflow : auto
}

optgroup
{
    font-weight : bold
}

table
{
    border-collapse : collapse;
    border-spacing  : 0
}

td, th
{
    padding : 0
}

body
{
    line-height            : 1.4;
    font-family            : "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size              : 14px;
    -webkit-font-smoothing : antialiased;
    -moz-font-smoothing    : antialiased;
    font-smoothing         : antialiased;
    color                  : #222;
    background-color       : #f5f6fa
}

ul
{
    margin     : 0;
    padding    : 0;
    list-style : none
}

a
{
    color                       : #222;
    text-decoration             : none;
    -webkit-tap-highlight-color : transparent;
    -webkit-touch-callout       : none;
    -webkit-user-select         : none
}

a:hover
{
    color : #fe8500
}

em, i
{
    font-style : normal
}

img
{
    vertical-align : middle
}

input[type=text], input[type=password], input[type=tel], input[type=number], button, textarea
{
    padding            : 0;
    -webkit-appearance : none
}

button
{
    border                      : 0;
    -webkit-tap-highlight-color : transparent;
    -webkit-touch-callout       : none;
    -webkit-user-select         : none;
    outline                     : none
}

select
{
    appearance         : none;
    -moz-appearance    : none;
    -webkit-appearance : none
}

textarea
{
    resize : none
}

select
{
    appearance         : none;
    -moz-appearance    : none;
    -webkit-appearance : none
}

h1, h2, h3, h4, h5, h6, p
{
    margin      : 0;
    font-weight : normal
}

h1
{
    font-size : 22px
}

h2
{
    font-size : 18px
}

h3
{
    font-size : 16px
}

input, textarea
{
    outline : medium
}

.mt10
{
    margin-top : 10px !important
}

.mt15
{
    margin-top : 15px !important
}

.mr10
{
    margin-right : 10px !important
}

.mr15
{
    margin-right : 15px !important
}

.mb10
{
    margin-bottom : 10px !important
}

.mb15
{
    margin-bottom : 15px !important
}

.ml10
{
    margin-left : 10px !important
}

.ml15
{
    margin-left : 15px !important
}

.mt20
{
    margin-top : 20px !important
}

.mt25
{
    margin-top : 25px !important
}

.mr20
{
    margin-right : 20px !important
}

.mr25
{
    margin-right : 25px !important
}

.mb20
{
    margin-bottom : 20px !important
}

.mb25
{
    margin-bottom : 25px !important
}

.ml20
{
    margin-left : 20px !important
}

.ml25
{
    margin-left : 25px !important
}

.mt30
{
    margin-top : 30px !important
}

.mt35
{
    margin-top : 35px !important
}

.mr30
{
    margin-right : 30px !important
}

.mr35
{
    margin-right : 35px !important
}

.mb30
{
    margin-bottom : 30px !important
}

.mb35
{
    margin-bottom : 35px !important
}

.ml30
{
    margin-left : 30px !important
}

.ml35
{
    margin-left : 35px !important
}

.mt40
{
    margin-top : 40px !important
}

.mt45
{
    margin-top : 45px !important
}

.mr40
{
    margin-right : 40px !important
}

.mr45
{
    margin-right : 45px !important
}

.mb40
{
    margin-bottom : 40px !important
}

.mb45
{
    margin-bottom : 45px !important
}

.ml40
{
    margin-left : 40px !important
}

.ml45
{
    margin-left : 45px !important
}

.mt50
{
    margin-top : 50px !important
}

.mt55
{
    margin-top : 55px !important
}

.mr50
{
    margin-right : 50px !important
}

.mr55
{
    margin-right : 55px !important
}

.mb50
{
    margin-bottom : 50px !important
}

.mb55
{
    margin-bottom : 55px !important
}

.ml50
{
    margin-left : 50px !important
}

.ml55
{
    margin-left : 55px !important
}

.l
{
    float : left
}

.r
{
    float : right
}

.text-center
{
    text-align : center !important
}

.text-right
{
    text-align : right !important
}

.text-left
{
    text-align : left !important
}

.hide
{
    display : none
}

.font-red
{
    color : #fc4d42 !important
}

.font-blue
{
    color : #3b87fd !important
}

.font-white
{
    color : #fff !important
}

.font-orange
{
    color : #fe8500 !important
}

.font-green
{
    color : #52c41a !important
}

.font-gray
{
    color : #aaa !important
}

.hide
{
    display : none
}

@-webkit-keyframes dropDown
{
    from
    {
        opacity           : 0;
        -webkit-transform : scale(0.7);
        transform         : scale(0.7)
    }
    to
    {
        opacity           : 1;
        -webkit-transform : scale(1);
        transform         : scale(1)
    }
}

@keyframes dropDown
{
    from
    {
        opacity           : 0;
        -webkit-transform : scale(0.7);
        transform         : scale(0.7)
    }
    to
    {
        opacity           : 1;
        -webkit-transform : scale(1);
        transform         : scale(1)
    }
}

.dropDown, .header .user .drop-down
{
    transform-origin : right top;
    animation        : dropDown .2s ease-in-out forwards
}

[class^="icon-"], [class*=" icon-"]
{
    display           : inline-block;
    width             : 18px;
    height            : 18px;
    background-repeat : no-repeat;
    background-size   : 100%;
    overflow          : hidden
}

.icon-toggle
{
    width            : 14px;
    height           : 14px;
    background-image : url("../images/icon-toggle.png")
}

.icon-key
{
    background-image : url("../images/icon-key.png")
}

.icon-code
{
    background-image : url("../images/icon-code.png")
}

.icon-wordbook
{
    background-image : url("../images/icon-wordbook.png")
}

.icon-prot
{
    background-image : url("../images/icon-prot.png")
}

.icon-file
{
    background-image : url("../images/icon-file.png")
}

.icon-debug
{
    background-image : url("../images/icon-debug.png")
}

.header
{
    width              : 100%;
    height             : 64px;
    box-shadow         : 0 2px 5px rgba(153, 153, 153, 0.1);
    transition         : transform .3s ease;
    -webkit-transition : transform .3s ease;
    background-color   : #fff
}

.header .logo
{
    float       : left;
    margin-top  : 25px;
    margin-left : 45px
}

.header .logo img
{
    width  : 140px;
    height : 20px
}

.header .collapse
{
    float       : left;
    position    : relative;
    margin-left : 30px;
    height      : 100%
}

.header .collapse .slider
{
    position           : absolute;
    display            : inline-block;
    left               : 0;
    bottom             : 0;
    width              : 78px;
    height             : 4px;
    transition         : left .3s ease;
    -webkit-transition : left .3s ease;
    background-color   : #fe8500
}

.header .collapse-btn i
{
    display : none
}

.header .menu
{
    *zoom  : 1;
    height : 100%
}

.header .menu:after, .header .menu:before
{
    content : "";
    display : table
}

.header .menu:after
{
    clear    : both;
    overflow : hidden
}

.header .menu a
{
    float       : left;
    display     : inline-block;
    padding     : 0 25px;
    height      : 100%;
    line-height : 74px;
    font-size   : 16px
}

.header .menu a.active
{
    color : #fe8500
}

.header .user
{
    position     : relative;
    float        : right;
    margin-right : 20px;
    padding      : 17px 0
}

.header .user:hover .cover:after
{
    border-style : solid;
    width        : 0;
    height       : 0;
    border-width : 0 5px 5px 5px;
    border-color : transparent transparent #fe8500 transparent
}

.header .user .cover
{
    position      : relative;
    display       : block;
    padding-right : 20px
}

.header .user .cover:after
{
    border-style : solid;
    width        : 0;
    height       : 0;
    border-width : 5px 5px 0 5px;
    border-color : #666 transparent transparent transparent;
    position     : absolute;
    right        : 0;
    top          : 14px;
    content      : ''
}

.header .user img
{
    border-radius : 50%;
    width         : 30px;
    height        : 30px
}

.header .user .drop-down
{
    display          : none;
    position         : absolute;
    right            : 0;
    top              : 67px;
    z-index          : 10;
    border           : #e5e5e5 solid 1px;
    padding          : 7px 0;
    border-radius    : 4px;
    box-shadow       : 0 0 10px rgba(153, 153, 153, 0.1);
    opacity          : 0;
    background-color : #fff
}

.header .user .drop-down a
{
    display     : block;
    padding     : 7px 20px;
    white-space : nowrap
}

.aside
{
    position                   : absolute;
    left                       : 0;
    top                        : 64px;
    bottom                     : 0;
    width                      : 210px;
    padding-top                : 20px;
    overflow-y                 : scroll;
    -webkit-overflow-scrolling : touch
}

.aside ul a
{
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
    display       : block;
    padding-left  : 40px;
    padding-right : 35px;
    line-height   : 40px;
    color         : #222
}

.aside ul a.long
{
    padding-right : 0
}

.aside ul a:hover
{
    color : #fe8500
}

.aside > ul
{
    padding-bottom : 20px
}

.aside > ul > li > .sub a
{
    padding-left : 60px
}

.aside > ul > li > .sub a:before
{
    left : 45px
}

.aside li
{
    position  : relative;
    font-size : 16px
}

.aside li:before
{
    border            : #666 solid;
    border-width      : 1px 1px 0 0;
    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
    width             : 7px;
    height            : 7px;
    position          : absolute;
    left              : 20px;
    top               : 16px;
    content           : ''
}

.aside li.open .second, .aside li.open > .sub
{
    display : block
}

.aside li.open:before
{
    border            : #666 solid;
    border-width      : 1px 1px 0 0;
    -webkit-transform : rotate(135deg);
    -moz-transform    : rotate(135deg);
    -ms-transform     : rotate(135deg);
    -o-transform      : rotate(135deg);
    transform         : rotate(135deg);
    width             : 7px;
    height            : 7px;
    top               : 14px
}

.aside .second
{
    display : none
}

.aside .second li
{
    font-size : 14px
}

.aside .second li.open .sub
{
    display : block
}

.aside .second li:before
{
    left : 40px
}

.aside .second a
{
    padding-left : 60px
}

.aside .sub
{
    display     : none;
    padding-top : 0
}

.aside .sub li
{
    font-size : 14px
}

.aside .sub li:before
{
    content : none
}

.aside .sub li.active a
{
    position : relative;
    color    : #fe8500
}

.aside .sub li.active a:before
{
    background-color : #fe8500
}

.aside .sub li.active a:after
{
    position         : absolute;
    left             : 0;
    top              : 5px;
    bottom           : 5px;
    width            : 4px;
    content          : '';
    background-color : #fe8500
}

.aside .sub li a
{
    position     : relative;
    padding-left : 75px;
    color        : #666
}

.aside .sub li a:before
{
    position         : absolute;
    top              : 17px;
    left             : 60px;
    width            : 5px;
    height           : 5px;
    border-radius    : 50%;
    content          : '';
    background-color : #e5e5e5
}

.aside .sub li a:hover
{
    color : #fe8500
}

.aside .sub li a:hover:before
{
    background-color : #fe8500
}

.aside .sub li a:hover:after
{
    position         : absolute;
    left             : 0;
    top              : 5px;
    bottom           : 5px;
    width            : 4px;
    content          : '';
    background-color : #fe8500
}

.aside em
{
    float            : right;
    margin-right     : -35px;
    margin-top       : 12px;
    padding          : 0 6px;
    border-radius    : 10px;
    line-height      : 16px;
    font-size        : 12px;
    color            : #fff;
    background-color : #fe8500
}

.aside .none-open:before
{
    content : none
}

.aside .none-open:hover a, .aside .none-open.active a
{
    position : relative;
    color    : #fe8500
}

.aside .none-open:hover a:after, .aside .none-open.active a:after
{
    position         : absolute;
    left             : 0;
    top              : 5px;
    bottom           : 5px;
    width            : 4px;
    content          : '';
    background-color : #fe8500
}

.CodeContainer
{
    margin : 0
}

.PropertyName
{
    color : #777;
}

.ArrayBrace, .ObjectBrace, .Comma, .collapsible
{
    color : #999;
}html
 {
     font-family              : sans-serif;
     -ms-text-size-adjust     : 100%;
     -webkit-text-size-adjust : 100%
 }

body
{
    margin : 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
{
    display : block
}

audio, canvas, progress, video
{
    display        : inline-block;
    vertical-align : baseline
}

audio:not([controls])
{
    display : none;
    height  : 0
}

[hidden], template
{
    display : none
}

a
{
    background-color : transparent
}

a:active, a:hover
{
    outline : 0
}

abbr[title]
{
    border-bottom : 1px dotted
}

b, strong
{
    font-weight : bold
}

dfn
{
    font-style : italic
}

h1
{
    font-size : 2em;
    margin    : 0.67em 0
}

mark
{
    background : #ff0;
    color      : #000
}

small
{
    font-size : 80%
}

sub, sup
{
    font-size      : 75%;
    line-height    : 0;
    position       : relative;
    vertical-align : baseline
}

sup
{
    top : -0.5em
}

sub
{
    bottom : -0.25em
}

img
{
    border : 0
}

svg:not(:root)
{
    overflow : hidden
}

figure
{
    margin : 1em 40px
}

hr
{
    box-sizing : content-box;
    height     : 0
}

pre
{
    overflow : auto
}

code, kbd, pre, samp
{
    font-family : monospace, monospace;
    font-size   : 1em
}

button, input, optgroup, select, textarea
{
    color  : inherit;
    font   : inherit;
    margin : 0
}

button
{
    overflow : visible
}

button, select
{
    text-transform : none
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    -webkit-appearance : button;
    cursor             : pointer
}

button[disabled], html input[disabled]
{
    cursor : default
}

button::-moz-focus-inner, input::-moz-focus-inner
{
    border  : 0;
    padding : 0
}

input
{
    line-height : normal
}

input[type="checkbox"], input[type="radio"]
{
    box-sizing : border-box;
    padding    : 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
{
    height : auto
}

input[type="search"]
{
    -webkit-appearance : textfield;
    box-sizing         : content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance : none
}

fieldset
{
    border  : 1px solid #c0c0c0;
    margin  : 0 2px;
    padding : 0.35em 0.625em 0.75em
}

legend
{
    border  : 0;
    padding : 0
}

textarea
{
    overflow : auto
}

optgroup
{
    font-weight : bold
}

table
{
    border-collapse : collapse;
    border-spacing  : 0
}

td, th
{
    padding : 0
}

body
{
    line-height            : 1.4;
    font-family            : "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size              : 14px;
    -webkit-font-smoothing : antialiased;
    -moz-font-smoothing    : antialiased;
    font-smoothing         : antialiased;
    color                  : #222;
    background-color       : #f5f6fa
}

ul
{
    margin     : 0;
    padding    : 0;
    list-style : none
}

a
{
    color                       : #222;
    text-decoration             : none;
    -webkit-tap-highlight-color : transparent;
    -webkit-touch-callout       : none;
    -webkit-user-select         : none
}

a:hover
{
    color : #fe8500
}

em, i
{
    font-style : normal
}

img
{
    vertical-align : middle
}

input[type=text], input[type=password], input[type=tel], input[type=number], button, textarea
{
    padding            : 0;
    -webkit-appearance : none
}

button
{
    border                      : 0;
    -webkit-tap-highlight-color : transparent;
    -webkit-touch-callout       : none;
    -webkit-user-select         : none;
    outline                     : none
}

select
{
    appearance         : none;
    -moz-appearance    : none;
    -webkit-appearance : none
}

textarea
{
    resize : none
}

select
{
    appearance         : none;
    -moz-appearance    : none;
    -webkit-appearance : none
}

h1, h2, h3, h4, h5, h6, p
{
    margin      : 0;
    font-weight : normal
}

h1
{
    font-size : 22px
}

h2
{
    font-size : 18px
}

h3
{
    font-size : 16px
}

input, textarea
{
    outline : medium
}

.mt10
{
    margin-top : 10px !important
}

.mt15
{
    margin-top : 15px !important
}

.mr10
{
    margin-right : 10px !important
}

.mr15
{
    margin-right : 15px !important
}

.mb10
{
    margin-bottom : 10px !important
}

.mb15
{
    margin-bottom : 15px !important
}

.ml10
{
    margin-left : 10px !important
}

.ml15
{
    margin-left : 15px !important
}

.mt20
{
    margin-top : 20px !important
}

.mt25
{
    margin-top : 25px !important
}

.mr20
{
    margin-right : 20px !important
}

.mr25
{
    margin-right : 25px !important
}

.mb20
{
    margin-bottom : 20px !important
}

.mb25
{
    margin-bottom : 25px !important
}

.ml20
{
    margin-left : 20px !important
}

.ml25
{
    margin-left : 25px !important
}

.mt30
{
    margin-top : 30px !important
}

.mt35
{
    margin-top : 35px !important
}

.mr30
{
    margin-right : 30px !important
}

.mr35
{
    margin-right : 35px !important
}

.mb30
{
    margin-bottom : 30px !important
}

.mb35
{
    margin-bottom : 35px !important
}

.ml30
{
    margin-left : 30px !important
}

.ml35
{
    margin-left : 35px !important
}

.mt40
{
    margin-top : 40px !important
}

.mt45
{
    margin-top : 45px !important
}

.mr40
{
    margin-right : 40px !important
}

.mr45
{
    margin-right : 45px !important
}

.mb40
{
    margin-bottom : 40px !important
}

.mb45
{
    margin-bottom : 45px !important
}

.ml40
{
    margin-left : 40px !important
}

.ml45
{
    margin-left : 45px !important
}

.mt50
{
    margin-top : 50px !important
}

.mt55
{
    margin-top : 55px !important
}

.mr50
{
    margin-right : 50px !important
}

.mr55
{
    margin-right : 55px !important
}

.mb50
{
    margin-bottom : 50px !important
}

.mb55
{
    margin-bottom : 55px !important
}

.ml50
{
    margin-left : 50px !important
}

.ml55
{
    margin-left : 55px !important
}

.l
{
    float : left
}

.r
{
    float : right
}

.text-center
{
    text-align : center !important
}

.text-right
{
    text-align : right !important
}

.text-left
{
    text-align : left !important
}

.hide
{
    display : none
}

.font-red
{
    color : #fc4d42 !important
}

.font-blue
{
    color : #3b87fd !important
}

.font-white
{
    color : #fff !important
}

.font-orange
{
    color : #fe8500 !important
}

.font-green
{
    color : #52c41a !important
}

.font-gray
{
    color : #aaa !important
}

.hide
{
    display : none
}

@-webkit-keyframes dropDown
{
    from
    {
        opacity           : 0;
        -webkit-transform : scale(0.7);
        transform         : scale(0.7)
    }
    to
    {
        opacity           : 1;
        -webkit-transform : scale(1);
        transform         : scale(1)
    }
}

@keyframes dropDown
{
    from
    {
        opacity           : 0;
        -webkit-transform : scale(0.7);
        transform         : scale(0.7)
    }
    to
    {
        opacity           : 1;
        -webkit-transform : scale(1);
        transform         : scale(1)
    }
}

.dropDown, .header .user .drop-down
{
    transform-origin : right top;
    animation        : dropDown .2s ease-in-out forwards
}

[class^="icon-"], [class*=" icon-"]
{
    display           : inline-block;
    width             : 18px;
    height            : 18px;
    background-repeat : no-repeat;
    background-size   : 100%;
    overflow          : hidden
}

.icon-toggle
{
    width            : 14px;
    height           : 14px;
    background-image : url("../images/icon-toggle.png")
}

.icon-key
{
    background-image : url("../images/icon-key.png")
}

.icon-code
{
    background-image : url("../images/icon-code.png")
}

.icon-wordbook
{
    background-image : url("../images/icon-wordbook.png")
}

.icon-prot
{
    background-image : url("../images/icon-prot.png")
}

.icon-file
{
    background-image : url("../images/icon-file.png")
}

.icon-debug
{
    background-image : url("../images/icon-debug.png")
}

.header
{
    width              : 100%;
    height             : 64px;
    box-shadow         : 0 2px 5px rgba(153, 153, 153, 0.1);
    transition         : transform .3s ease;
    -webkit-transition : transform .3s ease;
    background-color   : #fff
}

.header .logo
{
    float       : left;
    margin-top  : 25px;
    margin-left : 45px
}

.header .logo img
{
    width  : 140px;
    height : 20px
}

.header .collapse
{
    float       : left;
    position    : relative;
    margin-left : 30px;
    height      : 100%
}

.header .collapse .slider
{
    position           : absolute;
    display            : inline-block;
    left               : 0;
    bottom             : 0;
    width              : 78px;
    height             : 4px;
    transition         : left .3s ease;
    -webkit-transition : left .3s ease;
    background-color   : #fe8500
}

.header .collapse-btn i
{
    display : none
}

.header .menu
{
    *zoom  : 1;
    height : 100%
}

.header .menu:after, .header .menu:before
{
    content : "";
    display : table
}

.header .menu:after
{
    clear    : both;
    overflow : hidden
}

.header .menu a
{
    float       : left;
    display     : inline-block;
    padding     : 0 25px;
    height      : 100%;
    line-height : 74px;
    font-size   : 16px
}

.header .menu a.active
{
    color : #fe8500
}

.header .user
{
    position     : relative;
    float        : right;
    margin-right : 20px;
    padding      : 17px 0
}

.header .user:hover .cover:after
{
    border-style : solid;
    width        : 0;
    height       : 0;
    border-width : 0 5px 5px 5px;
    border-color : transparent transparent #fe8500 transparent
}

.header .user .cover
{
    position      : relative;
    display       : block;
    padding-right : 20px
}

.header .user .cover:after
{
    border-style : solid;
    width        : 0;
    height       : 0;
    border-width : 5px 5px 0 5px;
    border-color : #666 transparent transparent transparent;
    position     : absolute;
    right        : 0;
    top          : 14px;
    content      : ''
}

.header .user img
{
    border-radius : 50%;
    width         : 30px;
    height        : 30px
}

.header .user .drop-down
{
    display          : none;
    position         : absolute;
    right            : 0;
    top              : 67px;
    z-index          : 10;
    border           : #e5e5e5 solid 1px;
    padding          : 7px 0;
    border-radius    : 4px;
    box-shadow       : 0 0 10px rgba(153, 153, 153, 0.1);
    opacity          : 0;
    background-color : #fff
}

.header .user .drop-down a
{
    display     : block;
    padding     : 7px 20px;
    white-space : nowrap
}

.aside
{
    position                   : absolute;
    left                       : 0;
    top                        : 64px;
    bottom                     : 0;
    width                      : 210px;
    padding-top                : 20px;
    overflow-y                 : scroll;
    -webkit-overflow-scrolling : touch
}

.aside ul a
{
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
    display       : block;
    padding-left  : 40px;
    padding-right : 35px;
    line-height   : 40px;
    color         : #222
}

.aside ul a.long
{
    padding-right : 0
}

.aside ul a:hover
{
    color : #fe8500
}

.aside > ul
{
    padding-bottom : 20px
}

.aside > ul > li > .sub a
{
    padding-left : 60px
}

.aside > ul > li > .sub a:before
{
    left : 45px
}

.aside li
{
    position  : relative;
    font-size : 16px
}

.aside li:before
{
    border            : #666 solid;
    border-width      : 1px 1px 0 0;
    -webkit-transform : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform         : rotate(45deg);
    width             : 7px;
    height            : 7px;
    position          : absolute;
    left              : 20px;
    top               : 16px;
    content           : ''
}

.aside li.open .second, .aside li.open > .sub
{
    display : block
}

.aside li.open:before
{
    border            : #666 solid;
    border-width      : 1px 1px 0 0;
    -webkit-transform : rotate(135deg);
    -moz-transform    : rotate(135deg);
    -ms-transform     : rotate(135deg);
    -o-transform      : rotate(135deg);
    transform         : rotate(135deg);
    width             : 7px;
    height            : 7px;
    top               : 14px
}

.aside .second
{
    display : none
}

.aside .second li
{
    font-size : 14px
}

.aside .second li.open .sub
{
    display : block
}

.aside .second li:before
{
    left : 40px
}

.aside .second a
{
    padding-left : 60px
}

.aside .sub
{
    display     : none;
    padding-top : 0
}

.aside .sub li
{
    font-size : 14px
}

.aside .sub li:before
{
    content : none
}

.aside .sub li.active a
{
    position : relative;
    color    : #fe8500
}

.aside .sub li.active a:before
{
    background-color : #fe8500
}

.aside .sub li.active a:after
{
    position         : absolute;
    left             : 0;
    top              : 5px;
    bottom           : 5px;
    width            : 4px;
    content          : '';
    background-color : #fe8500
}

.aside .sub li a
{
    position     : relative;
    padding-left : 75px;
    color        : #666
}

.aside .sub li a:before
{
    position         : absolute;
    top              : 17px;
    left             : 60px;
    width            : 5px;
    height           : 5px;
    border-radius    : 50%;
    content          : '';
    background-color : #e5e5e5
}

.aside .sub li a:hover
{
    color : #fe8500
}

.aside .sub li a:hover:before
{
    background-color : #fe8500
}

.aside .sub li a:hover:after
{
    position         : absolute;
    left             : 0;
    top              : 5px;
    bottom           : 5px;
    width            : 4px;
    content          : '';
    background-color : #fe8500
}

.aside em
{
    float            : right;
    margin-right     : -35px;
    margin-top       : 12px;
    padding          : 0 6px;
    border-radius    : 10px;
    line-height      : 16px;
    font-size        : 12px;
    color            : #fff;
    background-color : #fe8500
}

.aside .none-open:before
{
    content : none
}

.aside .none-open:hover a, .aside .none-open.active a
{
    position : relative;
    color    : #fe8500
}

.aside .none-open:hover a:after, .aside .none-open.active a:after
{
    position         : absolute;
    left             : 0;
    top              : 5px;
    bottom           : 5px;
    width            : 4px;
    content          : '';
    background-color : #fe8500
}

.CodeContainer
{
    margin : 0
}

.PropertyName
{
    color : #777;
}

.ArrayBrace, .ObjectBrace, .Comma, .collapsible
{
    color : #999;
}

.Number
{
    color : #3d9547;
}

.String
{
    color : #fe8500;
}

.Boolean
{
    color : #9013fe
}

.Function
{
    color           : #aa6633;
    text-decoration : italic
}

.Null
{
    color : #9013fe
}

.Expanded
{
    position       : relative;
    display        : inline-block;
    margin-left    : 5px;
    padding-left   : 15px;
    height         : 15px;
    vertical-align : -2px;
    cursor         : pointer
}

.Expanded:hover:after
{
    border-color : #fe8500;
    color        : #fe8500
}

.Expanded:after
{
    position         : absolute;
    left             : 0;
    top              : 0;
    border           : #e5e5e5 solid 1px;
    width            : 13px;
    height           : 13px;
    line-height      : 13px;
    text-align       : center;
    content          : '-';
    color            : #666;
    background-color : #fff
}

.Collapsed
{
    position       : relative;
    display        : inline-block;
    margin-left    : 5px;
    padding-left   : 15px;
    height         : 15px;
    vertical-align : -2px;
    cursor         : pointer
}

.Collapsed:hover
{
    color : #fe8500
}

.Collapsed:hover:after
{
    border-color : #fe8500;
    color        : #fe8500
}

.Collapsed:after
{
    position         : absolute;
    left             : 0;
    top              : 0;
    border           : #e5e5e5 solid 1px;
    width            : 13px;
    height           : 13px;
    line-height      : 15px;
    text-align       : center;
    content          : '+';
    color            : #666;
    background-color : #fff
}

*
{
    box-sizing : border-box
}

html, body
{
    height : 100%
}

.slide-transform
{
    transform         : translate3d(80%, 0, 0);
    -webkit-transform : translate3d(80%, 0, 0)
}

.return-transform
{
    transform         : translate3d(0, 0, 0);
    -webkit-transform : translate3d(0, 0, 0)
}

.container
{
    position : absolute;
    left     : 230px;
    right    : 0;
    top      : 64px;
    bottom   : 0;
    display  : -webkit-flex;
    display  : flex;
    padding  : 20px 0
}

.container .left
{
    position                   : relative;
    flex                       : 1;
    border-radius              : 6px;
    height                     : 100%;
    box-shadow                 : 0 0 10px rgba(153, 153, 153, 0.1);
    overflow                   : hidden;
    overflow-y                 : scroll;
    -webkit-overflow-scrolling : touch;
    background-color           : #fff
}

.container .right
{
    flex                       : 1.25;
    border-radius              : 6px;
    margin                     : 0 20px;
    height                     : 100%;
    box-shadow                 : 0 0 10px rgba(153, 153, 153, 0.1);
    overflow                   : hidden;
    overflow-y                 : scroll;
    -webkit-overflow-scrolling : touch;
    background-color           : #fff
}

.container .right.ml0
{
    margin-left : 0
}

.container .right.transparent
{
    position         : relative;
    box-shadow       : none;
    background-color : #f5f6fa
}

.container .right .none
{
    position          : absolute;
    left              : 50%;
    top               : 20%;
    -webkit-transform : translate(-50%, 0);
    transform         : translate(-50%, 0)
}

.container .right .none h2
{
    margin-top : 20px;
    text-align : center;
    color      : #aaa
}

@media screen and (min-width : 1800px)
{
    .container
    {
        display      : block;
        padding-left : 680px
    }
    
    .container.pl0
    {
        padding-left : 0
    }
    
    .container .left
    {
        flex        : none;
        float       : left;
        margin-left : -680px;
        width       : 680px
    }
}

.panel
{
    margin           : 20px 0;
    padding          : 0 20px;
    background-color : #fff
}

.panel .hd
{
    padding-bottom : 10px
}

.panel .hd h3
{
    font-weight : 600
}

.panel .hd em
{
    margin-left    : 10px;
    font-size      : 12px;
    vertical-align : 1px;
    opacity        : 0
}

.panel .hd i
{
    margin-right   : 10px;
    vertical-align : -3px
}

.panel .table
{
    border        : #e5e5e5 solid 1px;
    border-radius : 6px;
    overflow      : hidden
}

.panel .table.input td
{
    padding : 0
}

.panel .table table
{
    width : 100%
}

.panel .table tr:hover td, .panel .table tr.active td
{
    background-color : #fffbe6
}

.panel .table tr.active td:first-child
{
    border-left  : #fe8500 solid 8px;
    padding-left : 11px
}

.panel .table th
{
    padding          : 10px;
    text-align       : left;
    font-weight      : normal;
    background-color : #f8f8f8
}

.panel .table th:first-child
{
    padding-left : 15px
}

.panel .table td
{
    border-top  : #e5e5e5 solid 1px;
    padding     : 10px;
    min-width   : 50px;
    line-height : 20px
}

.panel .table td:first-child
{
    padding-left : 15px
}

.panel .table .txt
{
    border           : 0;
    padding          : 0 10px;
    width            : 100%;
    line-height      : 40px;
    background-color : transparent
}

.panel .table .value
{
    background-color : #fffbe6
}

.panel .link-table tr
{
    cursor : pointer
}

.send-box
{
    padding : 0 80px 0 90px
}

.send-box .btn
{
    float            : right;
    display          : inline-block;
    margin-right     : -80px;
    border-radius    : 4px;
    width            : 70px;
    line-height      : 40px;
    text-align       : center;
    color            : #fff;
    background-color : #fe8500
}

.send-box .btn:hover
{
    background-color : #ff9119
}

.send-box .btn:active
{
    background-color : #e57800
}

.send-box select
{
    float              : left;
    margin-left        : -90px;
    border             : #e5e5e5 solid 1px;
    padding            : 0 10px;
    border-radius      : 4px 0 0 4px;
    width              : 90px;
    height             : 40px;
    appearance         : none;
    -moz-appearance    : none;
    -webkit-appearance : none;
    background         : url("../images/arrow.png") no-repeat 60px 9px #f8f8f8
}

.send-box option
{
    padding : 10px
}

.send-box .txt, .send-box .result-txt
{
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
    border        : #e5e5e5 solid 1px;
    border-left   : 0;
    padding       : 0 10px;
    border-radius : 0 4px 4px 0;
    width         : 100%;
    height        : 40px;
    line-height   : 38px
}

.send-box .result-txt
{
    border-radius : 0
}

.send-box .method-type
{
    float            : left;
    margin-left      : -90px;
    border           : #e5e5e5 solid 1px;
    border-radius    : 4px 0 0 4px;
    width            : 90px;
    height           : 40px;
    line-height      : 38px;
    text-align       : center;
    background-color : #f8f8f8
}

.send-box .status
{
    float            : right;
    margin-right     : -80px;
    border           : #e5e5e5 solid 1px;
    border-left      : 0;
    border-radius    : 0 4px 4px 0;
    width            : 80px;
    height           : 40px;
    line-height      : 38px;
    text-align       : center;
    background-color : #f8f8f8
}

.dp-highlighter
{
    padding          : 20px;
    border-radius    : 6px;
    min-height       : 300px;
    word-break       : break-all;
    font-size        : 14px;
    background-color : #fbfbfd
}

.toggle
{
    float   : right;
    padding : 1px 2px 0 10px
}

.tab-bd
{
    display : none
}

.tab-bd.active
{
    display : block
}

.edit-param
{
    border        : #e5e5e5 solid 1px;
    padding       : 20px;
    border-radius : 6px;
    width         : 100%
}

.link
{
    color : #3b87fd
}

.title
{
    margin : 20px
}

.title i
{
    margin-right : 10px
}

.title em
{
    display          : inline-block;
    margin-right     : 10px;
    padding          : 0 8px;
    border-radius    : 10px;
    line-height      : 20px;
    font-size        : 14px;
    color            : #fff;
    background-color : #fe8500
}

.title .group
{
    float : right
}

.title .group a
{
    float         : left;
    display       : inline-block;
    margin-left   : 10px;
    border        : #e5e5e5 solid 1px;
    border-radius : 4px;
    width         : 28px;
    height        : 28px;
    text-align    : center
}

.title .group a:hover
{
    border-color     : #fe8500;
    background-color : #fe8500
}

.title .group a:hover .icon-prot
{
    background-image : url("../images/icon-prot-o.png")
}

.title .group a:hover .icon-file
{
    background-image : url("../images/icon-file-o.png")
}

.title .group a:hover .icon-debug
{
    background-image : url("../images/icon-debug-o.png")
}

.title .group a:active
{
    background-color : #e57800
}

.title .group i
{
    margin-top   : 4px;
    margin-right : 0
}

.alert
{
    margin           : 20px;
    border           : #ffe58f solid 1px;
    border-left      : #fe8500 solid 4px;
    padding          : 15px 20px;
    border-radius    : 6px;
    background-color : #fffbe6
}

.alert p
{
    margin-top : 5px;
    color      : #666
}

.remark
{
    margin           : 20px;
    border           : #e5e5e5 solid 1px;
    padding          : 15px 20px;
    border-radius    : 6px;
    background-color : #fbfbfd
}

.remark p
{
    margin-top : 5px;
    color      : #666
}

.loading
{
    margin     : 50px auto 0 auto;
    text-align : center;
    font-size  : 18px;
    color      : #aaa
}

/*# sourceMappingURL=index.css.map */



.Number
{
    color : #3d9547;
}

.String
{
    color : #fe8500;
}

.Boolean
{
    color : #9013fe
}

.Function
{
    color           : #aa6633;
    text-decoration : italic
}

.Null
{
    color : #9013fe
}

.Expanded
{
    position       : relative;
    display        : inline-block;
    margin-left    : 5px;
    padding-left   : 15px;
    height         : 15px;
    vertical-align : -2px;
    cursor         : pointer
}

.Expanded:hover:after
{
    border-color : #fe8500;
    color        : #fe8500
}

.Expanded:after
{
    position         : absolute;
    left             : 0;
    top              : 0;
    border           : #e5e5e5 solid 1px;
    width            : 13px;
    height           : 13px;
    line-height      : 13px;
    text-align       : center;
    content          : '-';
    color            : #666;
    background-color : #fff
}

.Collapsed
{
    position       : relative;
    display        : inline-block;
    margin-left    : 5px;
    padding-left   : 15px;
    height         : 15px;
    vertical-align : -2px;
    cursor         : pointer
}

.Collapsed:hover
{
    color : #fe8500
}

.Collapsed:hover:after
{
    border-color : #fe8500;
    color        : #fe8500
}

.Collapsed:after
{
    position         : absolute;
    left             : 0;
    top              : 0;
    border           : #e5e5e5 solid 1px;
    width            : 13px;
    height           : 13px;
    line-height      : 15px;
    text-align       : center;
    content          : '+';
    color            : #666;
    background-color : #fff
}

*
{
    box-sizing : border-box
}

html, body
{
    height : 100%
}

.slide-transform
{
    transform         : translate3d(80%, 0, 0);
    -webkit-transform : translate3d(80%, 0, 0)
}

.return-transform
{
    transform         : translate3d(0, 0, 0);
    -webkit-transform : translate3d(0, 0, 0)
}

.container
{
    position : absolute;
    left     : 230px;
    right    : 0;
    top      : 64px;
    bottom   : 0;
    display  : -webkit-flex;
    display  : flex;
    padding  : 20px 0
}

.container .left
{
    position                   : relative;
    flex                       : 1;
    border-radius              : 6px;
    height                     : 100%;
    box-shadow                 : 0 0 10px rgba(153, 153, 153, 0.1);
    overflow                   : hidden;
    overflow-y                 : scroll;
    -webkit-overflow-scrolling : touch;
    background-color           : #fff
}

.container .right
{
    flex                       : 1.25;
    border-radius              : 6px;
    margin                     : 0 20px;
    height                     : 100%;
    box-shadow                 : 0 0 10px rgba(153, 153, 153, 0.1);
    overflow                   : hidden;
    overflow-y                 : scroll;
    -webkit-overflow-scrolling : touch;
    background-color           : #fff
}

.container .right.ml0
{
    margin-left : 0
}

.container .right.transparent
{
    position         : relative;
    box-shadow       : none;
    background-color : #f5f6fa
}

.container .right .none
{
    position          : absolute;
    left              : 50%;
    top               : 20%;
    -webkit-transform : translate(-50%, 0);
    transform         : translate(-50%, 0)
}

.container .right .none h2
{
    margin-top : 20px;
    text-align : center;
    color      : #aaa
}

@media screen and (min-width : 1800px)
{
    .container
    {
        display      : block;
        padding-left : 680px
    }
    
    .container.pl0
    {
        padding-left : 0
    }
    
    .container .left
    {
        flex        : none;
        float       : left;
        margin-left : -680px;
        width       : 680px
    }
}

.panel
{
    margin           : 20px 0;
    padding          : 0 20px;
    background-color : #fff
}

.panel .hd
{
    padding-bottom : 10px
}

.panel .hd h3
{
    font-weight : 600
}

.panel .hd em
{
    margin-left    : 10px;
    font-size      : 12px;
    vertical-align : 1px;
    opacity        : 0
}

.panel .hd i
{
    margin-right   : 10px;
    vertical-align : -3px
}

.panel .table
{
    border        : #e5e5e5 solid 1px;
    border-radius : 6px;
    overflow      : hidden
}

.panel .table.input td
{
    padding : 0
}

.panel .table table
{
    width : 100%
}

.panel .table tr:hover td, .panel .table tr.active td
{
    background-color : #fffbe6
}

.panel .table tr.active td:first-child
{
    border-left  : #fe8500 solid 8px;
    padding-left : 11px
}

.panel .table th
{
    padding          : 10px;
    text-align       : left;
    font-weight      : normal;
    background-color : #f8f8f8
}

.panel .table th:first-child
{
    padding-left : 15px
}

.panel .table td
{
    border-top  : #e5e5e5 solid 1px;
    padding     : 10px;
    min-width   : 50px;
    line-height : 20px
}

.panel .table td:first-child
{
    padding-left : 15px
}

.panel .table .txt
{
    border           : 0;
    padding          : 0 10px;
    width            : 100%;
    line-height      : 40px;
    background-color : transparent
}

.panel .table .value
{
    background-color : #fffbe6
}

.panel .link-table tr
{
    cursor : pointer
}

.send-box
{
    padding : 0 80px 0 90px
}

.send-box .btn
{
    float            : right;
    display          : inline-block;
    margin-right     : -80px;
    border-radius    : 4px;
    width            : 70px;
    line-height      : 40px;
    text-align       : center;
    color            : #fff;
    background-color : #fe8500
}

.send-box .btn:hover
{
    background-color : #ff9119
}

.send-box .btn:active
{
    background-color : #e57800
}

.send-box select
{
    float              : left;
    margin-left        : -90px;
    border             : #e5e5e5 solid 1px;
    padding            : 0 10px;
    border-radius      : 4px 0 0 4px;
    width              : 90px;
    height             : 40px;
    appearance         : none;
    -moz-appearance    : none;
    -webkit-appearance : none;
    background         : url("../images/arrow.png") no-repeat 60px 9px #f8f8f8
}

.send-box option
{
    padding : 10px
}

.send-box .txt, .send-box .result-txt
{
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
    border        : #e5e5e5 solid 1px;
    border-left   : 0;
    padding       : 0 10px;
    border-radius : 0 4px 4px 0;
    width         : 100%;
    height        : 40px;
    line-height   : 38px
}

.send-box .result-txt
{
    border-radius : 0
}

.send-box .method-type
{
    float            : left;
    margin-left      : -90px;
    border           : #e5e5e5 solid 1px;
    border-radius    : 4px 0 0 4px;
    width            : 90px;
    height           : 40px;
    line-height      : 38px;
    text-align       : center;
    background-color : #f8f8f8
}

.send-box .status
{
    float            : right;
    margin-right     : -80px;
    border           : #e5e5e5 solid 1px;
    border-left      : 0;
    border-radius    : 0 4px 4px 0;
    width            : 80px;
    height           : 40px;
    line-height      : 38px;
    text-align       : center;
    background-color : #f8f8f8
}

.dp-highlighter
{
    padding          : 20px;
    border-radius    : 6px;
    min-height       : 300px;
    word-break       : break-all;
    font-size        : 14px;
    background-color : #fbfbfd
}

.toggle
{
    float   : right;
    padding : 1px 2px 0 10px
}

.tab-bd
{
    display : none
}

.tab-bd.active
{
    display : block
}

.edit-param
{
    border        : #e5e5e5 solid 1px;
    padding       : 20px;
    border-radius : 6px;
    width         : 100%
}

.link
{
    color : #3b87fd
}

.title
{
    margin : 20px
}

.title i
{
    margin-right : 10px
}

.title em
{
    display          : inline-block;
    margin-right     : 10px;
    padding          : 0 8px;
    border-radius    : 10px;
    line-height      : 20px;
    font-size        : 14px;
    color            : #fff;
    background-color : #fe8500
}

.title .group
{
    float : right
}

.title .group a
{
    float         : left;
    display       : inline-block;
    margin-left   : 10px;
    border        : #e5e5e5 solid 1px;
    border-radius : 4px;
    width         : 28px;
    height        : 28px;
    text-align    : center
}

.title .group a:hover
{
    border-color     : #fe8500;
    background-color : #fe8500
}

.title .group a:hover .icon-prot
{
    background-image : url("../images/icon-prot-o.png")
}

.title .group a:hover .icon-file
{
    background-image : url("../images/icon-file-o.png")
}

.title .group a:hover .icon-debug
{
    background-image : url("../images/icon-debug-o.png")
}

.title .group a:active
{
    background-color : #e57800
}

.title .group i
{
    margin-top   : 4px;
    margin-right : 0
}

.alert
{
    margin           : 20px;
    border           : #ffe58f solid 1px;
    border-left      : #fe8500 solid 4px;
    padding          : 15px 20px;
    border-radius    : 6px;
    background-color : #fffbe6
}

.alert p
{
    margin-top : 5px;
    color      : #666
}

.remark
{
    margin           : 20px;
    border           : #e5e5e5 solid 1px;
    padding          : 15px 20px;
    border-radius    : 6px;
    background-color : #fbfbfd
}

.remark p
{
    margin-top : 5px;
    color      : #666
}

.loading
{
    margin     : 50px auto 0 auto;
    text-align : center;
    font-size  : 18px;
    color      : #aaa
}

/*# sourceMappingURL=index.css.map */

