@mixin arrow($size: 7px, $rotate: 45deg, $color: #b5b5b5) {
    border: $color solid;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
    width: $size;
    height: $size;
}